<div class="owl-carousel owl-carousel-category owl-theme">
  <% @food_categories.each do |food_category| %>      
    <div class="item">
      <div class="osahan-category-item">
        <a href="#">
          <%= image_tag food_category.image, class: "img-fluid" %>
          <h6><%= food_category.name %></h6>
          <p><%= food_category.restaurants.count %></p>
        </a>
      </div>
    </div>
  <% end %>
</div>
