<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="owl-carousel owl-carousel-four owl-theme ">
      <% @restaurants.each do |restaurant| %>
        <div class="item">
          <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
            <div class="list-card-image">
              <div class="star position-absolute"><span class="badge badge-success"><i class="icofont-star"></i> 3.1 (300+)</span></div>
              <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i class="icofont-heart"></i></a></div>
              <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span></div>
              <a href="detail.html">
                <%= image_tag restaurant.image, class: "img-fluid item-img" %>
              </a>
            </div>
            <div class="p-3 position-relative">
              <div class="list-card-body">
                <h6 class="mb-1"><a href="detail.html" class="text-black"><%= restaurant.name %></a></h6>
                <p class="text-gray mb-3"><%= restaurant.address %></p>
                <p class="text-gray mb-3 time"><span class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i class="icofont-wall-clock"></i> 20–25 min</span> <span class="float-right text-black-50"> $250 FOR TWO</span></p>
              </div>
              <div class="list-card-badge">
                <span class="badge badge-success">OFFER</span> <small>65% off | Use Coupon OSAHAN50</small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
