<section class="pt-5 pb-5 homepage-search-block position-relative">
  <div class="banner-overlay"></div>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-8">
        <div class="homepage-search-title">
          <h1 class="mb-2 font-weight-normal"><span class="font-weight-bold">Find Awesome Deals</span> in Vietnam</h1>
          <h5 class="mb-5 text-secondary font-weight-normal">Lists of top restaurants, cafes, and more in Hanoi, based on trends</h5>
        </div>
      </div>
    </div>
  </div>
