<div class="tab-pane fade" id="pills-gallery" role="tabpanel" aria-labelledby="pills-gallery-tab">
  <div id="gallery" class="bg-white rounded shadow-sm p-4 mb-4">
    <div class="restaurant-slider-main position-relative homepage-great-deals-carousel">
      <div class="owl-carousel owl-theme homepage-ad owl-loaded owl-drag" style="">
        <div class="owl-stage-outer">
          <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;">
            <div class="owl-item">
              <div class="item">
                <img class="img-fluid" src="img/gallery/1.png">
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <img class="img-fluid" src="img/gallery/2.png">
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <img class="img-fluid" src="img/gallery/3.png">
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <img class="img-fluid" src="img/gallery/1.png">
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <img class="img-fluid" src="img/gallery/2.png">
              </div>
            </div>
            <div class="owl-item">
              <div class="item">
                <img class="img-fluid" src="img/gallery/3.png">
              </div>
            </div>
          </div>
        </div>
        <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-chevron-right"></i></button></div>
        <div class="owl-dots disabled"></div>
      </div>
      <div class="position-absolute restaurant-slider-pics bg-dark text-white">2 of 14 Photos</div>
      <div class="position-absolute restaurant-slider-view-all"><button type="button" class="btn btn-light bg-white">See all Photos</button></div>
    </div>
  </div>
</div>
