<footer class="pt-4 pb-4 text-center">
  <div class="container">
    <p class="mt-0 mb-0">© Stolen from 2019 Food Line</p>
    <small class="mt-0 mb-0">
    <a class="text-danger" target="_blank" href="#">This link</a> does nothing and this <i class="fas fa-heart text-danger"></i> is just here to look cool</a>
    </small>
  </div>
</footer>
